.feuture-block__paragraph {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.75;
}

@media (max-width:555px) {
  .feuture-block__paragraph {
    font-size: 14px;
    line-height: 2;
    ;
  }
}