.slider__title {
  margin-bottom: 26px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  
}
.slider__title a {
  color: #ffffff;
  transition: opacity 1s;
}
.slider__title a:hover {
  opacity: 0.8;
}