.header {
  max-width: 80%;
  margin: 50px auto 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width:535px) {
  .header {
    margin-bottom: 50px;
  }
}